/* Use this to edit the body style */
body {
  background-color: #1434A4;
}

/* Use this to edit the main logo header style */
h1 {
  color:orange;
  font-family:georgia,garamond,serif;
  font-size: 100px;
  font-style:italic;
  text-align: center;
}

/* Used to edit the header of the login form */
.loginHeader{
  color: orange;
  font-family:georgia,garamond,serif;
  font-style: italic;
  margin-left: 115px;
  text-decoration: underline;
}

/* Used to edit the header of the create account and registration form */
.createHeader{
  color: orange;
  font-family:georgia,garamond,serif;
  font-style: italic;
  text-decoration: underline;
}

/* Used to maintain layout of elements on the page */
.wrapper {
  margin-left:auto;
  margin-right:auto;
  width:960px;
}

/* Use this to edit the directory buttons */
.btn-group button {
  background-color: orange; 
  color: black;
  padding: 12px 16px;
  font-size: 16px;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  width: 60px;
  margin-left: -8px;
  text-align: center;
}

/* Creates margin between btn group and search bar and can update order button font
   can add picture later if we want too*/
.orders-btn {
  font-size:small;
  margin-right: 200px;
}

/* Use for changing color when hovering over button */
.btn-group button:hover {
  background-color: RoyalBlue;
}

/* Used to change the directory div style */
.directory {
  width: 100%;
  min-height: 1vh;
  text-align: left;
  display: inline-flex;
  height: 50px;
  margin-top: -8px;
  min-width: 200px;
}

/* Used to change the style of the search bar itself */
.search-bar {
  width: 100%;
  max-width: 700px;
  background: rgba(255, 255, 255, 0.2);
  display: inline-flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px 10px;
  margin-top: 2px;
  position: relative;
}

/* Used to change the style of the search bar input */
.search-bar input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
  color: #cac7ff;
}

/* Can be used to update the placeholder text style */
::placeholder {
  color: #cac7ff;
}

/* Can change the style of the search button */
.search-bar button {
  border: 0;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #cac7ff;
  cursor: pointer;
}

/* Used for updating image style */
.image {
  height: 200px;
  width: 200px;
}

/* Grid style for displaying results in ordered fashion */
/* .grid {
  /* width: 100px;
  display: grid;
  margin-left: auto;
  margin-right: auto;
  gap: 1rem; */
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-template-rows: repeat(auto-fill, minmax(200px 1fr)); 
} */

/* Card style which will display results in a card can expand if needed to present results in different format */
.card {
  border: none;
  margin: 0;
  padding: 0;
  cursor: pointer;
  height: 200px;
  width: 200px;
}

/* Controls the style of the login div */
/* .login {
  align-self: flex-start;
  display: grid;
  justify-items: center;
  align-items: center;
} */

/* Controls the style of the login div */
.login {
  align-self: flex-start;
  display: inline-block;
  justify-items: left;
  align-items: left;
}

/* Controls the style of the create account div */
.create {
  align-self: flex-start;
  display: inline-block;
  margin-left: 350px;
}

/* Used to edit the vertical line used in the profile page */
.vl {
  border-left: 4px solid black;
  height: 250px;
  position: absolute;
  left: 50%;
  top: 300px;
}

/* Controls the style of the register div */
.register {
  align-self: flex-start;
  display: grid;
  justify-items: center; 
  align-items: center; 
}

/* Controls the style of the left product info div, contains the product name, category, and image */
.pInfoLeft {
  align-self: flex-start;
  display: inline-block; 
  justify-items: center;
  margin-left: 200px;
}

/* Controls the style of the right product info div, contains the product description, price, number of that product in stock, and the add to cart button */
.pInfoRight {
  align-self: flex-start;
  display: inline-block;
  justify-items: left;
  margin-left: 900px;
}

/* Controls the style of the product image on the product page */
.productImg{
  display: inline-block;
  position: absolute;
  margin-top: 30px;
  height: 500px;
  width: 600px;
}

/* Controls the style of the name of the product on the product page */
.productName{
  color:orange;
  font-family:georgia,garamond,serif;
  font-size: 50px;
  text-align: center;
}

/* Controls the style of the login forms such as username and password */
/* .login form {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
} */

/* Controls the style of the login forms such as username and password */
.login form {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  border-radius: 3px;
  margin-left: 100px;
  margin-top: 25px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

/* Controls the style of the login forms such as username, password, and confirm password */
.create form {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  border-radius: 3px;
  margin-top: 25px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

/* Controls the style of the login forms such as username, password, and confirm password */
.register form {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
  padding: 0px 0px 5px 5px;
}

/* Controls the style of the login input text */
.login input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
  color: #cac7ff;
}

/* Controls the style of the create account input text */
.create input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
  color: #cac7ff;
}

/* Controls the style of the create account input text */
.register input {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
  color: #cac7ff;
}

/* Controls the style of the login button
.login-btn {
  width: 200px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
} */

/* Controls the style of the login button */
.login-btn {
  position: relative;
  padding: 7px;
  margin-left: 100px;
  margin-top: 75px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  color: #1434A4;
  font-weight: bold;
  background-color: orange;
  cursor: pointer;
  outline: none;
}

/* Controls the style of the create account button*/
.create-btn {
  position: relative;
  padding: 7px;
  margin-top: 25px;
  width: 200px;
  border: 1px solid black;
  border-radius: 5px;
  color: #1434A4;
  font-weight: bold;
  background-color: orange;
  cursor: pointer;
  outline: none;
}

/* Controls the style of the register button */
.register-btn {
  width: 200px;
  padding: 7px;
  border: 1px solid black;
  border-radius: 5px;
  color: #1434A4;
  font-weight: bold;
  background-color: orange;
  cursor: pointer;
  outline: none;
  margin-top: 20px;
}

/* Controls the style of the admin button */
.admin-btn {
  width: 200px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
}

/* Controls the style of the add to cart button */
.addCart-btn {
  width: 200px;
  padding: 7px;
  border: 1px solid black;
  border-radius: 5px;
  color: #1434A4;
  font-weight: bold;
  background-color: orange;
  cursor: pointer;
  outline: none;
}

/* TEMP FOR CHANGING THE STYLE OF THE TEMPORARY MESSAGE THAT SAYS WE ARE LOGGED IN */
.log-txt {
  width: 200px;
  font-style: italic;
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
  color: black;
}

.fieldset button {
  width: 100px;
  margin-right: 20px;
  height: 50px;
}

table, th, td {
  /* width: 100%;   */
  border: 1px solid black;   
  border-collapse: collapse;    
  text-align: center;  
  font-size: 20px;  
  padding-inline: 200px;
  /* margin-left: 15px; */
}

.product {
  display: flex;
  border: 1px solid black;
  background: gray
}

.left {
  padding: 20px;
}

.right {
  padding: 20px;
}

.horizontal-centering {
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -25%;
}

.order-Btn {
  width: 200px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  margin-bottom: 50px;
}

.fieldset {
  display:grid;
}

.orderDisplay {
  padding-top: 20px;
  display: grid;
}

.testClass {
  padding-block: 10px;
  width: 90px;
  display: block;
}

.discount-Code {
  background: transparent;
  flex: 1;
  border: 0;
  outline: none;
  font-size: 20px;
  color: black;
  width: 900px;
}

.discount-Code::placeholder {
  color: black;
}

.discount-Code-Form {
  border: none;
  border-bottom: 1px solid #3a3a3a;
  border-radius: 3px;
  margin-left: 100px;
  margin-top: 25px;
  outline: none;
  padding: 0px 0px 5px 5px;
  background-color: azure;
}

.discountBtn {
  width: 200px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.totalScreen {
  display: grid;
  position: relative;
  height: auto;
  min-height: 100%;
  justify-items: center;
}

.totalScreenTxt {
  font-size: 20px;
}

.clearBtn {
  width: 200px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  text-align: center;
  margin-left: 10px;
  margin-right: auto;
}

.removeItem {
  width: 200px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.noResults {
  font-size: 50px;
}

.logout-Btn {
  width: 200px;
  padding: 7px;
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  background-color: #3a3a3a;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  margin-bottom: 50px;
}